#title{
    background-color: #ff4c68;
    color: #fff;
}

.iphone-img{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

p{
    color: #8f8f8f;
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #ff4c68;
}

#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.carousel-item{
    padding: 7% 15%;
}

#testimonials-img{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

#press-logo{
   width: 15%;
   margin: 20px 20px 50px; 
}

#pricing{
    padding: 100px;
    text-align: center;
}

#cta{
    background-color: #ff4c68;
    color: #fff;
    padding: 7% 15%;
    text-align: center;
}

#footer{
    padding: 7% 15%;
    text-align: center;
}

@media (max-width: 1028px) {
    #title{
        text-align: center;
    }

    .iphone-img{
        position: static;
        transform: rotate(0);
    }
}















